---
import { languages } from '../i18n/ui';
import { getLangFromUrl } from '../i18n/util';

const selectedLang = getLangFromUrl(Astro.url);
const suffixPath = Astro.url.toString().split(selectedLang).slice(1).join('/');

console.log({suffixPath})
---
<ul>
  {Object.entries(languages).map(([lang, label]) => (
    <li class:list={[  { selected: selectedLang === lang } ]}>
      <a href={`/${lang}${suffixPath}`}>{label}</a>
    </li>
  ))}
</ul>

<style>
  ul {
    display: flex;
    margin: 1rem;
    border: 1px solid #ffffff50;
    border-radius: 0.5rem;
    li {
      padding: 0.2rem 1rem;
      line-height: 2rem;
    }
    .selected {
      background: #ffffff80;
    }
  }
</style>