---
interface Props {
    title: string;
    outline: string;
    href: string;
    posterUrl: string;
    movieId: number;
    imdbId: string;
}

const { href, title, posterUrl } = Astro.props;
---

<div>
    <a href={href}>
        <img src={posterUrl} alt={title} />
    </a>
</div>
